.list-item{
    position: relative;
}
.image{
    width: 25rem;
    border-radius: 10px;
    box-shadow: 1px 0px 9px 1px rgba(0,0,0,0.5);
    cursor: pointer;
    opacity: 1;
    filter: grayscale(0%);
    transition: all 0.4s ease-in-out;
    
    
  
}
.image:hover{
    opacity: 0.89;
    filter: grayscale(50%);
}


.pop-up-container{
   position: absolute; 
}

@media (max-width:1000px){
    .image{
        width: 20rem;
      
    }
}

@media (max-width:768px){
    .image{
       width: 100%;
      
    }
}